<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.codewrite.teceme">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />

        <!-- Launcher and Main Activity -->
        <activity
            android:name=".ui.others.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Other activities -->
        <activity
            android:name=".ui.others.WelcomeActivity"
            android:label="@string/welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.others.HelpActivity" />
        <activity android:name=".ui.others.ConfirmationActivity" />

        <!-- Store Activities -->
        <activity
            android:name=".ui.store.StoresMapActivity"
            android:label="@string/title_activity_stores_map" />

        <activity
            android:name=".ui.store.StoreDetailActivity"
            android:label="@string/title_store_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
         Accounts Activity and related activities
         -->
        <activity
            android:name=".ui.account.AccountsActivity"
            android:label="@string/title_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.account.ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".ui.account.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.account.LoginActivity"
            android:label="@string/login_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:label="@string/login_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:name=".ui.notification.NotificationActivity" />

        <!-- Wallet and Payment Activities-->
        <activity
            android:name=".ui.wallet.CreateWalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.wallet.WalletActivity" />
        <activity android:name=".ui.payment.CheckoutActivity" />
        <activity android:name=".ui.payment.PaymentActivity" />

        <!-- Product Activity -->
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:label="@string/title_product_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.product.WishListActivity" />
    </application>

</manifest>